.image img {
  width: 100%;
  border-radius: 8px;
  padding: 7px;
}

.detail-container {
  margin-left: 10px;

  margin-bottom: 18%;
}

.detail-container p {
  /* margin: 5px; */
}

.main-container h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-top: 1px;
  margin-left: 10px;
}

.main-container {
  overflow: hidden;
  position: relative;
  padding: 21px;
}

.btn {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  border: none;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn p {
  margin-right: 6px;
}

.btn:hover {
  background-color: aquamarine;
}