.shop-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 20px;
  border: 2px solid;
}

.cart-container {
  margin: 20px;
  border: 2px solid;
}